.RedButton{
    margin: 15px 15px 15px 15px;
    width: 90%;
    background-color: #f91942;
    border-radius: 4px;
    padding: 18px 20px;
    border-width: 0px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #ffffff;
  }

.RedButton:hover {
    opacity: 70%;
}