.Container{
    display: grid;
    width: 100%;
    height: 100vh;
    place-items: center;         
}

.ForgotPswd{
    display: block;
    margin-top: 20px;
    margin-left: 15px;
    text-decoration: none;
    color: #474849;
    font-weight: 400;
}

.ForgotPswd:hover {
    text-decoration: underline;
}

.Member{
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 28px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #222222;
}

.Member:hover {
    text-decoration: underline;
}

.checkmark{
    margin: 20px 5px 20px 20px;
    border-radius: 4px;
    accent-color: #F91942;
}

.formContainer {
    // Recuadro que contiene todo los de registro
    background-color: white; // El color de fondo del recuadro que contiene los campos de registrarse
    border-radius: 8px; // Borde en curva
    min-width: 300px; // Si se reduce la pantalla, es la minima cantidad de pixeles es que se puede reducir la anchura del recuadro...
    max-width: 500px; // Si se reduce la pantalla, es la máxima cantidad de pixeles es que se puede reducir la anchura del recuadro...
    width: 95%; // Si se reduce la pantalla, cuando el recuadro ocupa el 95% de la pantalla se empezará a reducir de max-width -> min-width
    padding: 40px; // Borde interno del recuadro
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        // Título que dice registrarse
        font-style: normal;
        text-align: center;
        font-size: 24px;
        font-weight: bolder;
        color: #2f2f2f;
    }

    form {
        margin-top: 30px; // Distancia entre el titulo y el recuadro que contiene los inputs
        display: flex;
        flex-direction: column;
        gap: 20px; // Distancia entre cuadros de inputs
        
        .inputContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #EAEBF6;
            padding: 15px 15px;
            border-radius: 4px;

            .left {
                display: flex;
                flex-direction: column;
                gap: 3px;
                width: 100%;

                label {
                    font-size: 11px;
                }

                input {
                    border: none; // El texto sin borde
                    font-weight: 100; // El ancho de las letras (Está en delgado)
                    background-color: inherit; // Que el fondo de las letras sea transparente
                    font-size: 18px; // Tamaño letra input
                    color: #2f2f2f; // Color letras
                }
            }
        }

        button {
            margin-top: 10px;
            border: none;
            width: 100%;
            padding: 10px 0;
            cursor: pointer;
            font-weight: 700;
            font-size: 18px; // tamaño letras del botón
            color: white;
            background-color: #F91942;
            border-radius: 8px;
            transition-duration: 0.3s;
        }

        button:hover {
            background-color: #ff496b;;
        }
    }
}

.toast {
    transition-duration: 0.3s;
    background-color: #6358dc75;
    border-radius: 8px;
    width: 30%;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    padding: 10px;
}